.remove-option{
    position: relative;
    left: 205px;
    top: -38px;
    cursor: pointer;
}
.remove-feature{
    position: absolute;
    right: 10px;
    top:-5px;
    cursor: pointer;
}
#image-container{
    position: absolute;
    top: 120px;
    width: 100%;
    height: auto;
    z-index: 100;
    background-color: rgba(0,0,0,0.5);
}
#thumb-list {
    background: url("../images/bg.png") repeat-y;
}
#image-list {
    background: url("../images/bg.png") repeat-y;
}
.tool-bar{
    z-index: 100;
    background: #e05239;
    font-size: larger;
    height: 60px;
    line-height: 60px;
    position: fixed;
    cursor: pointer;
}
.tool-bar a {
    color: #ffffff;
    margin-left: 15px;
}

#image-select-content {
    position: relative;
    top:60px;
    height: 1700px;
    background: #60abe0;
}


.col-md-7 h2 {
    background: #60abe0;
    position: relative;
    margin-top: 0;
    text-align: center;
    height: 60px;
    line-height: 60px;
}
.col-md-7 img {
    display: block;
    margin: 0 auto;
    cursor: pointer;
}
#thumb-list .glyphicon-remove {
    position: relative;
    cursor: pointer;
    float: right;
    top:-70px;
    font-size: 25px;
}
