.remove-option{
    position: relative;
    left: 205px;
    top: -38px;
    cursor: pointer;
}
.remove-feature{
    position: absolute;
    right: 10px;
    top:-5px;
    cursor: pointer;
}
#image-container{
    position: relative;
    top: -1190px;
    background-color: rgba(0,0,0,0.5);
}
#thumb-list {
    background: url("../images/bg.png") repeat-y;
}
#image-list {
    background: url("../images/bg.png") repeat-y;
}
.col-md-7 h2 {
    background: url("../images/h2.jpg");
    position: relative;
    margin-top: 0;
    text-align: center;
    height: 60px;
    line-height: 60px;
}
.col-md-7 img {
    display: block;
    margin: 0 auto;
}
#thumb-list .glyphicon-remove {
    position: relative;
    cursor: pointer;
    float: right;
    top:-70px;
    font-size: 25px;
}