.remove-option{
    position: relative;
    left: 205px;
    top: -38px;
    cursor: pointer;
}
.remove-feature{
    position: absolute;
    right: 10px;
    top:-5px;
    cursor: pointer;
}
#image-container{
    position: relative;
    top: -1100px;
    background-color: rgba(0,0,0,0.5);
}